@font-face {
  font-family: 'keai';
  src: url('/xingyelangmanyuzhouwenrou.ttf');
}
@font-face {
  font-family: 'nai';
  src: url('/renjiannailaobianlidian.ttf');
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
#app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
